<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="GOLDHOUSERO Mentorship for Romanian students in Computer Science">
    <meta property="og:image" content="https://images.unsplash.com/photo-1501594907352-04cda38ebc29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
    <title>Mentorship · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  </head>
  <body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="https://www.goldhousero.com">GOLDHOUSE RO</a>
      <div class="form-inline"> 
      <a class ="float-right btn btn-link" href="https://www.goldhousero.com/resources">Resources</a>
      <a class ="float-right btn btn-link" style="margin-left: 0rem!important" href="https://www.goldhousero.com/mentors">Mentors</a>
      <a class="btn btn-primary" style="margin-left: 1rem!important" href="https://docs.google.com/forms/d/e/1FAIpQLSdd_iPZf8uveY0pl-CKGV5Scee6RJC2oK_cEOBHo-6MjlhX0Q/viewform?usp=sf_link">Apply</a>
      </div>
    </div>
  </nav>

      <%= @inner_content %>
  </body>
</html>
