
<section class="testimonials bg-light">
  <div class="row">
    <div class="col"> 
    </div>
    <div class="col">
      <h2> Resources </h2>
      <a style="font-size:larger" href="https://oana-florescu.medium.com/how-to-get-an-internship-at-facebook-google-amazon-ca79f75981bf">How to get an internship at a top tech company</a>
      <p>to be added ...</p>
    </div>
    <div class="col">
    </div>

  </div>
</section>  



